{% extends 'base.html' %}
{% block content %}
<div id="logreg-forms">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: left"> Reset Password</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" class="form-signin" id="reset_password_form" >
        {% csrf_token %}
        <div class="form-group">
            <label for="new_password1">New Password*</label>
            <input type="password" required class="form-control" id="new_password1" name="new_password1" style="width: 400px;">
        </div>
        <div class="form-group">
            <label for="new_password2">Confirm Password*</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2"  style="width: 400px;">
        </div>
        <input type="hidden" id="__all__">
        <button type="submit" class="btn primary_btn">Save</button>
        <a href="{% url 'administration:home' %}" class="btn secondary_btn">Cancel</a>
    </form>
    <br>
</div>
{% endblock %}
{% block script_js %}
<script type="text/javascript">
$("#reset_password_form").submit(function(event) {
    event.preventDefault();
    $.post(".", $(this).serialize(), function(data) {
        if (data.error) {
            console.log('error:',data.error)
            $('p.failure').remove();
            for (var key in data.errors) {
                $('#' + key).after('<p class="failure form-error">* ' + data.errors[key] + '</p>');
            }
        } else {
            window.location = data.redirect_url;
        }
    }, 'json');
});
</script>
{% endblock script_js %}