{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Basic User</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
  

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="#">User Directory</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

        {% if request.user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'app:dashboard' %}">Dashboard </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'app:profile' %}">Profile </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'app:change_password' %}">Change Password </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:logout' %}">Logout</a>
        </li>
        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'app:login' %}">Login</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </nav>


  {% block override_container %}

  <div class="container">
    {% block body_content %}

    {% endblock body_content %}
  </div>

  {% endblock override_container %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>


  {% block extra_js %}

  {% endblock extra_js %}

</body>

</html>